<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzy.myaccount"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="24" />
    <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/softicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yzy.myaccount.activity.MainActivity"
            android:label="@string/app_name" >
           
        </activity>
        <activity
            android:theme="@style/MyDialogStyle"
            android:name=".activity.AddAccount"
            >
        </activity>
        <activity android:name=".activity.test"></activity>
        <activity android:name=".activity.lcActivity"></activity>
        <activity android:name=".activity.GestureEditActivity"></activity>
        <activity android:name=".activity.FlowActivity"></activity>
        <activity android:name=".activity.AllDataMActivity"></activity>
        <activity android:name=".activity.ManageActivity"></activity>
        <activity 
             android:theme="@style/MyDialogStyle"
            android:name=".activity.EditActivity"></activity>
        <activity 
             android:theme="@style/MyDialogStyle"
            android:name=".activity.DetailActivity"></activity>
        <activity 
            android:icon="@drawable/softicon"
            android:name=".activity.GestureVerifyActivity">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
    </application>

</manifest>
